.todolist{
    max-width: 400px;
    text-align: center;
}

p{
    font-size: 20px;
}

.itemList button{
    font-size: 20px;
    float: right; 
}

.itemList{
    background-color: pink; 
    width: 400px; 
    height: 30px; 
}

.notaskview{
    width: 400px; 
    text-align: center;
}

.notasksmessage{
    font-size: 20px;
}

.showlistbtn{
    background-color: pink; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s; 
}

.showlistbtn:hover{
    background-color: magenta; 
    cursor: pointer;
}
