input{
    background-color: #E8BCB5;
    border: 1px solid #EF8F8F; 
    width: 200px;
    height: 30px;
    
}

form button{
    font-size: 15px;
    height: 30px; 
    background-color:#E8BCB5; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s; 
}

form button:hover{
    background-color: #EF8F8F; 
    cursor: pointer;
}
.createTask h1{
    color: #EF8F8F;
}

.createTask p{
    color: #EF8F8F;
   
}