.main {
  max-width: 1000px;
  height: 500px;
  display: grid;
  grid-template-columns: 500px 300px;
  grid-template-rows:  450px 400px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.createtask{
  padding: 20px;
  border-bottom: 1px dotted #E8BCB5;
}

.DayView{
  padding: 20px;
  border-bottom: 1px dotted #E8BCB5;
}

.ToDoList{
  padding: 20px;
  border-bottom: 1px dotted #E8BCB5;
}
